build/
.gradle
/.nb-gradle/
Kurssistatistiikka/private/
Kurssistatistiikka/.nb-gradle/
/LoginCucumber/.nb-gradle/
/HelloCucumber/.nb-gradle/
/WebLogin/.nb-gradle/
/MatkakorttiMockito/.nb-gradle/
/Verkkokauppa1/.nb-gradle/
Verkkokauppa1/private/
/IntJoukkoSovellus/.nb-gradle/